@font-face{
  font-family:'Alex Brush';
  src: url('../font/Alex Brush ROB.ttf');
  font-family:'LK';
}
.font{
  color:white;
  font-size: 60px;
  font-family: 'Alex Brush', cursive;
}
.movie{
  color:white;
  font-size: 60px;
}
.button{
  display: flex;
  justify-content: space-around;
}
