.antCarousel{
  text-align: center;
  height: 600px;
  width:100%;
  background: #F5F5F5;
  overflow: hidden;
}
.setColor{
  filter:alpha(opacity=50);
}
.img{
	margin-top:2%;
	height:550px;
	width:80%;
	margin-left:10%;
	filter:alpha(opacity=50);
}